/* Rimuove il bordo dal pulsante di ricerca quando viene cliccato */
.btn:focus,
.form-control:focus {
  box-shadow: none !important;
}

/* Migliora il posizionamento della lista dei suggerimenti */
.list-group {
  position: absolute;
  width: 100%;
  z-index: 1000;
}

.list-group-item:hover {
  background-color: #f8f9fa;
  cursor: pointer;
}
